<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Configurations</title>
    <style>
        .input-container {
            display: flex;
            align-items: flex-start; 
        }
        .input-container input[type="text"],
        .input-container input[type="password"],
        .input-container input[type="number"] {
            flex: 1;
            margin-right: 10px; 
        }
    </style>
    <style>
    .checkbox-wrapper-22 .switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
    }
    
    .checkbox-wrapper-22 .switch input {
        display:none;
    }
    
    .checkbox-wrapper-22 .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    
    .checkbox-wrapper-22 .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    
    .checkbox-wrapper-22 input:checked + .slider {
        background-color: #66bb6a;
    }
    
    .checkbox-wrapper-22 input:checked + .slider:before {
        transform: translateX(26px);
    }
    
    .checkbox-wrapper-22 .slider.round {
        border-radius: 34px;
    }
    
    .checkbox-wrapper-22 .slider.round:before {
        border-radius: 50%;
    }
    .line-config {
        display: flex;
        justify-content: space-between;
    }
    .config-section {
        width: 48%;
    }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
            </div>
            <div class="top_menu">
            <div class="logo">
                <img src="../static/cisco-logo-transparent-free-png.webp" style="width: 7%;;" alt="">
            </div>
            <ul>
                <li><a href="index"><h4>Refresh</h4></a></li>
                <form method="POST" action="/logout">
                    <button type="submit" style="color: #2e4ead;padding: 7px 20px;border: none;border-radius: 5px;background-color:white;font-size:16px;cursor: pointer;font-weight:bold;" onmouseover="this.style.color='midnightblue';" onmouseout="this.style.color='#2e4ead';">Logout</button>
                </form>
            </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul><br>
                <li><a href="index">
                <span class="icon"><i class="fas fa-book"></i></span>
                <span class="title">Add device</span>
                </a></li>
                <li><a href="devices">
                <span class="icon"><i class="fas fa-file-video"></i></span>
                <span class="title">Devices</span>
                </a></li>
                <li><a href="basicedit" class="active">
                <span class="icon"><i class="fas fa-cogs"></i></span>
                <span class="title">Configurations</span>
                </a></li>
                <li><a href="routing">
                <span class="icon"><i class="fas fa-cogs"></i></span>
                <span class="title">Routing Configurations</span>
                </a></li>
                <li><a href="eraseconfig">
                <span class="icon"><i class="fas fa-leaf"></i></span>
                <span class="title">Erase configurations</span>
                </a></li>
                <li><a href="showconfig">
                    <span class="icon"><i class="fas fa-leaf"></i></span>
                    <span class="title">Show configurations</span>
                </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="container">
                <h1 style="text-align: left;color: #2e4ead;">CONFIGURATIONS</h1><br><br>
                <form method="POST" action="/configure" >
                    <select name="device_name" id="deviceSelect" required {% if many_hostname %}style="display: none;"{% endif %}>
                        <option value="" disabled selected>Select a device</option>
                        {% for device in cisco_devices %}
                            <option value="{{ device.name }}">{{ device.name }}</option>
                        {% endfor %}
                    </select><br><br><br>
                    <label for="many_name" style="text-align: left;">If more than one device input names of devices here. (seperate by comma)</label>
                    <input type="text" style="height: 120px;" name="many_hostname" id="many_hostname" placeholder="Example: sw1,sw2,sw3">                    
                    <br><br><br>
                    <div class="input-container">
                        <input type="text" id="hostname" name="hostname" placeholder="Hostname" minlength="3" maxlength="25">
                        <input type="password" id="secret_password" name="secret_password" placeholder="Secret password" minlength="3" maxlength="20">
                    </div><br><br>
                    <h2 style="color: #2e4ead; text-align: left;">Network Interface Configuration</h2><br>
                    <input type="text" style="height: 120px;" name="interface" id="interface" placeholder="Example: gi0/0 or fa0/1-24 or gi1/0/1,gi1/0/2">
                    <br><br>
                    <h2 style="color: #2e4ead; text-align: left;">IP Configuration</h2><br>
                    <input type="text" style="height: 80px;" name="ip_address" id="ip_address" placeholder="Enter IP addresses (e.g., 192.168.1.1/24 )">
                    <br><br>
                    <h2 style="color: #2e4ead; text-align: left;">Switchport Mode</h2><br>
                    <br><br>
                    <div class="input-container">
                        <div class="checkbox-wrapper-22" style="margin-left: 19%;">
                            <label class="switch" for="trunk">
                                <input type="checkbox" id="trunk" name="trunk" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="trunk">Mode Trunk</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 38%;">
                            <label class="switch" for="access">
                                <input type="checkbox" id="access" name="access" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="access">Mode Access</label>
                        </div>
                    </div><br><br><br><br>
                    <h2 style="color: #2e4ead; text-align: left;">Switchport Access VLAN</h2><br>
                    <input type="text" style="height: 80px;" name="vlan_access" id="vlan_access" placeholder="VLAN ID:">
                    <div class="input-container">
                        <div class="checkbox-wrapper-22" style="margin-left: 20%;">
                            <label class="switch" for="activate">
                                <input type="checkbox" id="activate" name="activate" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="activate">Activate</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 40%;">
                            <label class="switch" for="deactivate">
                                <input type="checkbox" id="deactivate" name="deactivate" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="deactivate">Deactivate</label>
                        </div>
                    </div><br><br><br><br>
                    <h2 style="color: #2e4ead; text-align: left;">VLAN Configuration</h2><br>
                    <div class="input-container">
                        <input type="text" id="vlan_id" name="vlan_id" placeholder="Create VLAN ID (e.g., 2-6)"  max="4095">
                        <br><br>
                        <input type="text" id="vlan_name" name="vlan_name" placeholder="Enter VLAN Name" maxlength="25">
                    </div>
                    <h3 style="color: #2e4ead; text-align: left;">Delete VLAN</h3><br>
                    <input type="text" id="vlan_id_del" name="vlan_id_del" placeholder="VLAN ID (e.g., 2-6)" max="4095">
                    <div class="input-container">
                        <div class="checkbox-wrapper-22" style="margin-left: 20%;">
                            <label class="switch" for="activate_vlan">
                                <input type="checkbox" id="activate_vlan" name="activate_vlan" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="activate">Activate</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 40%;">
                            <label class="switch" for="deactivate_vlan">
                                <input type="checkbox" id="deactivate_vlan" name="deactivate_vlan" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="deactivate">Deactivate</label>
                        </div>
                    </div
                    <br><br><br><br><br>
                    <h2 style="color: #2e4ead; text-align: left;">IP Default Gateway</h2><br>
                    <div class="input-container">
                        <input type="text" id="default_gateway" name="default_gateway" placeholder="IP default-gateway" pattern="^(\d{1,3}\.){3}\d{1,3}$">
                    </div><br><br>
                    <h2 style="color:  #2e4ead;text-align: left;">User Authentication Configuration</h2><br>
                    <div class="input-container">
                        <input type="text" id="new_username" name="new_username" placeholder="new username" minlength="3" maxlength="25">
                        <input type="password" id="new_password" name="new_password" placeholder="new password" minlength="3" maxlength="25">
                        <input type="number" id="level_pri" name="level_pri" placeholder="Level privilege 1-15" min="1" max="15">
                    </div><br><br><br>
                    <div class="line-config">
                        <div class="config-section">
                            <h2 style="color: #2e4ead; text-align: left;">Console Line Configuration</h2><br>
                            <select id="console_login_method" name="console_login_method" required>
                                <option value="none">Choose the login method for the console line</option>
                                <option value="login">login</option>
                                <option value="login_local">local authentication</option>
                                <option value="no_login">no login</option>
                            </select>
                            <br><br>
                            <input type="password" id="console_password" name="console_password" placeholder="Enter the console line password (min 3, max 20 )" minlength="3" maxlength="20">
                            <br>
                            <input type="number" id="console_timeout" name="console_timeout" placeholder="Enter timeout in minutes (1-60)">
                            <br>
                            </select><br><br>
                            <div class="checkbox-wrapper-22" style="margin-left: 80%;">
                                <label class="switch" for="enable_loggin_syn_con">
                                    <input type="checkbox" id="enable_loggin_syn_con" name="enable_loggin_syn_con" value="enable" />
                                    <div class="slider round"></div>
                                </label>
                                <label for="enable_loggin_syn_con">Enable Loggin Syncronous</label>
                            </div>
                            <br><br><br>
                        </div>
                        <div class="config-section">
                            <h2 style="color: #2e4ead; text-align: left;">VTY Line Configuration</h2><br>
                            <select id="vty_login_method" name="vty_login_method" required>
                                <option value="none">Choose the login method for the VTY line</option>
                                <option value="login">login</option>
                                <option value="login_local">local authentication</option>
                                <option value="no_login">no login</option>
                            </select>
                            <br><br>
                            <input type="password" id="vty_password" name="vty_password" placeholder="Enter the VTY line password (min 3, max 20)" minlength="3" maxlength="20">
                            <br>
                            <input type="number" id="vty_timeout" name="vty_timeout" placeholder="Enter timeout in minutes (1-60)">
                            <br>
                            <label for="vty_transport_input" style="text-align: left; font-weight: bold;">Transport Input</label>
                            <select id="vty_transport" name="vty_transport" required>
                                <option value="none">None</option>
                                <option value="ssh">SSH</option>
                                <option value="telnet">Telnet</option>
                                <option value="all">All</option>
                            </select>
                            <br><br>
                            <label for="vty_range" style="text-align: left; font-weight: bold;">VTY Line Range</label>
                            <input type="text" id="vty_range" name="vty_range" placeholder="Specify the VTY line range (e.g., 0 4 or 0 15)">
                            <div class="checkbox-wrapper-22" style="margin-left: 80%;">
                                <label class="switch" for="enable_loggin_syn_vty">
                                    <input type="checkbox" id="enable_loggin_syn_vty" name="enable_loggin_syn_vty" value="enable" />
                                    <div class="slider round"></div>
                                </label>
                                <label for="enable_loggin_syn_vty">Enable Loggin Syncronous</label>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <h2 style="color: #2e4ead; text-align: left;">Network Time Protocol (NTP) Configuration</h2><br>
                    <input type="text" id="ntp_server" name="ntp_server" placeholder="Enter the NTP server IP or hostname">
                    <br>
                    <input type="text" id="ntp_authentication" name="ntp_authentication" placeholder="Enter the NTP authentication key (if required)">
                    <br>
                    <input type="text" id="ntp_source_interface" name="ntp_source_interface" placeholder="Enter the source interface for NTP (e.g., GigabitEthernet0/0)">
                    <br>
                    <input type="text" id="clock_timezone" name="clock_timezone" placeholder="Clock Timezone (e.g., UTC +7)">
                    <br><br>
                    <h2 style="color: #2e4ead; text-align: left;">Logging Configuration</h2><br>
                    <input type="text" id="snmp_server" name="snmp_server" placeholder="Enter the SNMP server IP">
                    <br>
                    <label for="level_trap" style="margin-right: 92%;font-weight: bold;">Trap Level</label>
                    <select id="snmp_trap_level" name="snmp_trap_level">
                        <option value="none">None</option>
                        <option value="informational">Informational</option>
                        <option value="warning">Warning</option>
                        <option value="error">Error</option>
                        <option value="critical">Critical</option>
                    </select>
                    <br><br>
                    <div class="input-container">
                        <div class="checkbox-wrapper-22">
                            <label class="switch" for="password_encryption">
                                <input type="checkbox" id="password_encryption" name="password_encryption" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="password_encryption">Enable service password-encryption</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 10%;">
                            <label class="switch" for="enable_snmp_ro">
                                <input type="checkbox" id="enable_snmp_ro" name="enable_snmp_ro" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <input type="text" id="snmp_ro_text" name="snmp_ro_text" placeholder="Name Community" />
                            <label for="enable_snmp_ro">Enable SNMP RO</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 10%;">
                            <label class="switch" for="enable_snmp_rw">
                                <input type="checkbox" id="enable_snmp_rw" name="enable_snmp_rw" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <input type="text" id="snmp_ro_text" name="snmp_rw_text" placeholder="Name Community" />
                            <label for="enable_snmp_rw">Enable SNMP RW</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 15%;">
                            <label class="switch" for="enable_cdp">
                                <input type="checkbox" id="enable_cdp" name="enable_cdp" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="enable_snmp">Enable CDP</label>
                        </div>
                        <div class="checkbox-wrapper-22" style="margin-left: 15%;">
                            <label class="switch" for="save_config">
                                <input type="checkbox" id="save_config" name="save_config" value="enable" />
                                <div class="slider round"></div>
                            </label>
                            <label for="save_config">Save to startup-config</label>
                        </div>
                    </div><br><br>
                    <input style="margin-left: 90%;" type="submit" value="Submit">
                </form>
                <script>
                    const newUsernameInput = document.getElementById("new_username");
                    const newPasswordInput = document.getElementById("new_password");
                    const level_pri = document.getElementById("level_pri");
            
                    newUsernameInput.addEventListener("input", function () {
                        if (newUsernameInput.value.trim() !== "") {
                            newPasswordInput.required = true;
                            level_pri.required = true;
                        } else {
                            newPasswordInput.required = false;
                            level_pri.required = false;
                        }
                    });
                </script>
                <script>
                    const deviceSelect = document.getElementById("deviceSelect");
                    const manyNameInput = document.getElementById("many_hostname");
                
                    deviceSelect.addEventListener("change", function () {
                        if (deviceSelect.value === "" && manyNameInput.value.trim() === "") {
                            deviceSelect.setAttribute("required", true);
                        } else {
                            deviceSelect.removeAttribute("required");
                        }
                    });
                
                    manyNameInput.addEventListener("input", function () {
                        if (deviceSelect.value === "") {
                            if (manyNameInput.value.trim() === "") {
                                deviceSelect.setAttribute("required", true);
                            } else {
                                deviceSelect.removeAttribute("required");
                            }
                        }
                    });
                    manyNameInput.addEventListener("input", function () {
                        if (manyNameInput.value.trim() !== "") {
                            deviceSelect.style.display = "none"; // Hide the dropdown
                        } else {
                            deviceSelect.style.display = "block"; // Show the dropdown
                        }
                    });
                </script>
                <script>
                    const interfaceInput = document.getElementById("interface");
                    const activateCheckbox = document.getElementById("activate");
                    const deactivateCheckbox = document.getElementById("deactivate");

                
                    interfaceInput.addEventListener("input", function () {
                        if (interfaceInput.value.trim() !== "") {
                            activateCheckbox.disabled = false;
                            deactivateCheckbox.disabled = false;
                        } else {
                            // Disable and uncheck both options
                            activateCheckbox.disabled = true;
                            deactivateCheckbox.disabled = true;
                            activateCheckbox.checked = false;
                            deactivateCheckbox.checked = false;
                        }
                    });
                
                    activateCheckbox.addEventListener("change", function () {
                        if (activateCheckbox.checked) {
                            deactivateCheckbox.checked = false;
                        }
                    });
                
                    deactivateCheckbox.addEventListener("change", function () {
                        if (deactivateCheckbox.checked) {
                            activateCheckbox.checked = false;
                        }
                    });
                </script>
                <script>
                    const vlan_id = document.getElementById("vlan_id");
                    const activateCheckbox_vlan = document.getElementById("activate_vlan");
                    const deactivateCheckbox_vlan = document.getElementById("deactivate_vlan");

                
                    vlan_id.addEventListener("input", function () {
                        if (interfaceInput.value.trim() !== "") {
                            activateCheckbox_vlan.disabled = false;
                            deactivateCheckbox_vlan.disabled = false;
                        } else {
                            activateCheckbox_vlan.disabled = true;
                            deactivateCheckbox_vlan.disabled = true;
                            activateCheckbox_vlan.checked = false;
                            deactivateCheckbox_vlan.checked = false;
                        }
                    });
                
                    activateCheckbox_vlan.addEventListener("change", function () {
                        if (activateCheckbox_vlan.checked) {
                            deactivateCheckbox_vlan.checked = false;
                        }
                    });
                
                    deactivateCheckbox_vlan.addEventListener("change", function () {
                        if (deactivateCheckbox_vlan.checked) {
                            activateCheckbox_vlan.checked = false;
                        }
                    });
                </script>
                <script>
                    const trunkCheckbox = document.getElementById('trunk');
                    const accessCheckbox = document.getElementById('access');
                
                    trunkCheckbox.addEventListener('change', function () {
                        if (trunkCheckbox.checked) {
                            accessCheckbox.checked = false;
                        }
                    });
                
                    accessCheckbox.addEventListener('change', function () {
                        if (accessCheckbox.checked) {
                            trunkCheckbox.checked = false;
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
