<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Configurations</title>
    <style>
        .input-container {
            display: flex;
            align-items: flex-start; 
        }
        .input-container input[type="text"],
        .input-container input[type="password"] {
            flex: 1;
            margin-right: 10px; 
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
            </div>
            <div class="top_menu">
            <div class="logo">
                <img src="../static/cisco-logo-transparent-free-png.webp" style="width: 7%;;" alt="">
            </div>
            <ul>
                <li><a href="index"><h4>Refresh</h4></a></li>
                <form method="POST" action="/logout">
                    <button type="submit" style="color: #2e4ead;padding: 7px 20px;border: none;border-radius: 5px;background-color:white;font-size:16px;cursor: pointer;font-weight:bold;" onmouseover="this.style.color='midnightblue';" onmouseout="this.style.color='#2e4ead';">Logout</button>
                </form>
            </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul><br>
                <li><a href="index">
                <span class="icon"><i class="fas fa-book"></i></span>
                <span class="title">Add device</span>
                </a></li>
                <li><a href="devices">
                <span class="icon"><i class="fas fa-file-video"></i></span>
                <span class="title">Devices</span>
                </a></li>
                <li><a href="basicedit">
                <span class="icon"><i class="fas fa-cogs"></i></span>
                <span class="title">Basic Configurations</span>
                </a></li>
                <li><a href="advance">
                <span class="icon"><i class="fas fa-blog"></i></span>
                <span class="title">Advance Config</span>
                </a></li>
                <li><a href="eraseconfig" class="active">
                <span class="icon"><i class="fas fa-leaf"></i></span>
                <span class="title">Erase configurations</span>
                </a></li>
                <li><a href="showconfig">
                    <span class="icon"><i class="fas fa-leaf"></i></span>
                    <span class="title">Show configurations</span>
                </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="container">
                <h1 style="text-align: center;color: #2e4ead;">Erase Startup-Configurations</h1>
                <br><br>
                <table>
                    <tr>
                        <th>Name devices</th>
                        <th>IP Address</th>
                        <th>Actions</th>
                    </tr>
                    {% if cisco_devices %}
                        {% for device in cisco_devices %}
                        <tr>
                            <td>{{ device.name }}</td>
                            <td>{{ device.device_info.ip }}</td>
                            <td>
                                <form method="POST" action="/erase" onsubmit="return confirm('Are you sure you want to erase the configuration for {{ device.name }}?');">
                                    <input type="hidden" name="device_index" value="{{ loop.index0 }}">
                                    <button type="submit" style="color: tomato;padding: 7px 20px;border: none;border-radius: 5px;background-color:white;font-size:16px;cursor: pointer;font-weight:bold;" onmouseover="this.style.color='red';" onmouseout="this.style.color='tomato';">ERASE</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center;">No devices available.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        </div>
    </body>
</html>
