<!DOCTYPE html>
<html>
<head>
    <title>SSH Connection</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Input IP Device</h1>
        <form method="post" action="/ssh">
            <label for="ip_address">IP Address:</label>
            <input type="text" id="ip_address" name="ip_address" required><br>
        
            <label for="ssh_username">SSH Username:</label>
            <input type="text" id="ssh_username" name="ssh_username" required><br>
        
            <label for="ssh_password">SSH Password:</label>
            <input type="password" id="ssh_password" name="ssh_password" required><br>
        
            <label for="hostname">Hostname:</label>
            <input type="text" id="hostname" name="hostname"><br>
        
            <input type="submit" value="Submit">
        </form>
        {% if alert %}
        <div class="alert alert-danger" style="text-align: center;">
            {{ alert }}
        </div>
        {% endif %}
    </div>
</body>
</html>
